# xcode noise
build/*
*.pbxuser
*.mode1v3
BetaBuilder.xcodeproj/*.perspectivev3
BetaBuilder.xcodeproj/xcuserdata/*.xcuserdatad
BetaBuilder.xcodeproj/xcuserdata/*.xcuserdatad/*
BetaBuilder.xcodeproj/project.xcworkspace

#icon
betabuilder.icns

# old skool
.svn

# osx noise
.DS_Store
profile
